@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nanum+Gothic&display=swap');

.App{
  justify-content: center;
  align-items: center;
}

.header{
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  margin-bottom: 0px;
  font-size: 80px;
  font-family: 'Lobster', sans-serif;
  text-align: center;
}